#killfeed-container {
    position: fixed;
    top: 6vh;
    right: 1vw;
	/* margin: 10; */
	/* left: 10; */
    z-index: 100;
    /* Additional styling as needed */
}


.kill-involved {
    background-color: #F1E9CB;
}

.kill-standard {
    background-color: #202020;
}


.killfeed-message {
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 3vh;
    margin: 0;

	/* visibility: visible; */
	/* width: 20vw; */
	/* background-color: rgba(0, 0, 0, 0.4); */
	/* color: rgb(232, 184, 255); */
	/* text-align: left; */
	padding: 0.1vmin 1vmin;
	border-radius: 1vmin;

}

.kill-feed {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 16px;
    border-radius: 4px;
}

.killer-enemy,
.victim-enemy {
    font-size: 20px;
    color: #A3574A;
    /* text-shadow: 0 0 2px #000; */
}

.killer-friend,
.victim-friend {
    font-size: 20px;
    color: #557C83;
    /* text-shadow: 0 0 2px #000; */
}

.kill-icons {
    display: flex;
    align-items: center;
    margin: 8px 8px;
    justify-content: center;
    position: relative;
    /* width: 0.1vmin; */
}



.kill-icon-background {
    position: absolute;
    /* left: 50%;
    top: 50%; */
    /* margin: 8px 8px; */
    /* height: 0.1vh; */
    max-height: 28px;
    width: auto;
}


.kill-icon-involved {
    z-index: 1;
    max-height: 28px;
    width: auto;
    /* position: absolute; */
    /* margin: 8px 8px; */
    /* height: 0.1vh; */
}

.kill-icon-standard {
    z-index: 1;
    max-height: 28px;
    width: auto;
    /* position: absolute; */
    /* margin: 8px 8px; */
    -webkit-filter: invert(1);
    filter: invert(1);
}
